
.target-resource-node, .source-resource-node, .secondary-resource-node {
  background-color: rgb(83, 83, 83);
  border: 1px solid white;
  padding: .5em 1em;
}

.target-resource-node {
  border-left: 3px dashed rgb(254, 166, 58)
}

.secondary-resource-node {
  border-left: 3px dashed rgb(53, 196, 34);
}

.source-resource-node {
  border-right: 3px dashed rgb(34, 154, 252);
}

.target-resource-node p, .source-resource-node p, .secondary-resource-node p {
  margin: .2em;
  color: rgb(187, 177, 208);
}

.recipe-node {
  background-color: rgb(83, 83, 83);
  border: 1px solid white;
  border-left: 3px dashed rgb(254, 166, 58);
  border-right: 3px dashed rgb(34, 154, 252);

  padding: 1em;
}

.recipe-node > p {
  text-align: center;
  color: rgb(56, 130, 222);
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  margin-bottom: .5em;
}

.recipe-node-cont {
  display: flex;
}

.recipe-node .cont {
  position: relative;
}


.recipe-node .outputs {
  margin-left: 2em;
} 

.recipe-node .modifiers {
  margin-top: .5em;
  display: flex;
  flex-direction: column;
  gap: .4em;
  align-items: start;
}

.modifier {
  display: flex;
  gap: 1em;
}

.modifier .cont {
  display: flex;
  background-color: orange;
  padding: 0.5em .8em;
  border-radius: 1em;
  align-items: center;
}

.modifier:nth-child(2) .cont {
  background-color: rgb(224, 20, 115);
}

.modifier img {
  height: 2em;
  margin-right: .3em;
}

.modifier button {
  background-color: white;
  border: none;
  border-radius: 0.3em;
  padding: 0.2em 0.5em;
  cursor: pointer;
  font-size: .8em;
  background-color: rgb(203, 230, 247);
}

.modifier input {
  width: 2em;
  text-align: center;
  border: none;
  font-size: 1em;
  background: transparent;
}

.top-modifiers {
  position: absolute;

  left: 50%;
  top: 0;
  transform: translateX(-50%) translateY(-97%);
  background-color: rgb(83, 83, 83);
  padding: .2em .5em;

  border-radius: .5em .5em 0 0;
  border: 2px solid white;
  border-bottom: 0;
}

.top-modifiers > div {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: orange;
}

.top-modifiers img {
  width: 3em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}