
.target-resource-node, .source-resource-node {
  background-color: rgb(83, 83, 83);
  border: 1px solid white;
  padding: .5em 1em;
}

.target-resource-node {
  border-left: 3px dashed rgb(254, 166, 58)
}

.source-resource-node {
  border-right: 3px dashed rgb(34, 154, 252);
}

.target-resource-node p, .source-resource-node p {
  margin: .2em;
  color: rgb(187, 177, 208);
}

.recipe-node {
  background-color: rgb(83, 83, 83);
  border: 1px solid white;
  border-left: 3px dashed rgb(254, 166, 58);
  border-right: 3px dashed rgb(34, 154, 252);

  padding: 1em;
}

.recipe-node > p {
  text-align: center;
  color: rgb(56, 130, 222);
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  margin-bottom: .5em;
}

.recipe-node-cont {
  display: flex;
}

.recipe-node .inputs .inp-cont {
  position: relative;
}


.recipe-node .outputs {
  margin-left: 2em;
} 