html,
body {
  margin: 0;
  font-size: 16px;
  font-family: monospace;
}
 
#root {
  width: 100vw;
  height: 100vh;
}

.page-selector {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.page-selector > div {
  width: 10em;
  height: 3em;
  display: inline-block;
  background-color: rgb(62, 62, 66);
  color: orange;
  text-align: center;
  cursor: pointer;
  transition: background-color .2s linear;
  padding-top: 1em;
  border-radius: 1em;
  box-sizing:content-box;
  border: 3px solid transparent;
}

.page-selector > div:hover {
  background-color: rgb(99, 98, 98);
}

.page-selector > div.selected {
  border: 3px dashed rgb(167, 117, 24);
}

.resource-rate-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resource-rate-cont img {
  width: 2.5em;
}

.resource-rate-cont p {
  padding-left: .6em;
  font-weight: 500;
  color: rgb(254, 175, 29);
}

.floating {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: .5em;

  font-weight: 500;
  padding: .5em;
}

.missing-resource-title {
  font-size: 1.4em;
  color: rgb(255, 255, 255);

}

.missing-resource {
  color: rgb(247, 85, 85);
  font-size: 1.5em;

  border-top: 3px solid rgb(255, 255, 255);
  padding-top: .5em;
}

.missing-resource-list {
  background:rgb(83, 83, 83);
  border: 2px solit rgb(171, 9, 9);
  padding: .5em;

  margin-bottom: 1em;
}

.target-selector {
  position: absolute;
  left: 50%;
  top: 1em;
  transform: translateX(-50%);
  
  border-radius: .5em;
  background-color: #5c5764;
  padding: .5em;
}

.target-selector > div {
  display: flex;
  justify-content: center;
  font-size: .9em;
}
.target-selector > div > * {
  height: 6em;
  width:10em;
  margin-left: .5em;
}
.target-selector .delete-btn {
  color: rgb(251, 77, 77);
  cursor:pointer;
  text-align: right;
  margin: 0;
  margin-right: 1em;
}

.target-selector > p {
  color: white;
  border-bottom: 1px solid white;
  margin-bottom: .5em;
  font-weight: 700;
}

.add-target-resource {
  background-color: rgb(153, 184, 194);
  text-align: center;
  cursor: pointer;

  transition: background-color .2s linear;
}
.add-target-resource:hover {
  background-color: rgb(90, 111, 118);
}

.selected-recipes {
  background-color: #5c5764;
  position: absolute;
  right: 0;
  top: 4em;
  padding: .5em;

  max-height: 80vh;
  overflow-y: auto;
}

.selected-recipes > p {
  color: white;
  border-bottom: 1px solid white;
  margin-bottom: .5em;
  font-weight: 700;
}

.recipe-selector-item {
  width: 20em;
}

.recipe-selector-item img {
  width: 2em;
  margin: 0 .2em;
}

.recipe-selector-item .arrow {
  margin: 0 .8em;
}

.recipe-selector-item .selected {
  background-color: rgb(153, 184, 194);
  margin: .5em 0;
}


.recipe-selector-item .item {
  background-color: rgb(153, 184, 194);
  border-bottom: 1px solid black;
}
.recipe-selector-item .container {
  background-color: rgb(153, 184, 194);
}