html,
body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
}
 
#root {
  width: 100vw;
  height: 100vh;
}

.page-selector {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);

}

.page-selector > div {
  width: 10em;
  height: 4em;
  display: inline-block;
  background-color: rgb(62, 62, 66);
  color: orange;
  text-align: center;
  cursor: pointer;
  transition: background-color .2s linear;
  font-family: monospace;
  padding-top: 1em;
  border-radius: 1em;
}

.page-selector > div:hover {
  background-color: rgb(99, 98, 98);
}

.page-selector > div.selected {
  border: 3px dashed rgb(167, 117, 24);
}

.target-resource-node, .source-resource-node {
  background-color: rgb(83, 83, 83);
  border: 1px solid white;
  padding: .5em 1em;
}

.target-resource-node {
  border-left: 3px dashed rgb(254, 166, 58)
}

.source-resource-node {
  border-right: 3px dashed rgb(34, 154, 252);
}

.target-resource-node p, .source-resource-node p {
  margin: .2em;
  color: rgb(187, 177, 208);
}

.resource-rate-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resource-rate-cont img {
  width: 2.5em;
}

.resource-rate-cont p {
  padding-left: .6em;
  font-weight: 500;
  color: rgb(254, 175, 29);
}

.floating {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: .5em;

  font-weight: 500;
  padding: .5em;
}

.missing-resource-title {
  font-size: 1.4em;
  color: rgb(255, 255, 255);

}

.missing-resource {
  color: rgb(247, 85, 85);
  font-size: 2em;

  border-top: 3px solid rgb(255, 255, 255);
  padding-top: .5em;
}

.missing-resource-list {
  background:rgb(83, 83, 83);
  border: 2px solit rgb(171, 9, 9);
  padding: .5em;

  margin-bottom: 1em;
}